body {
  background-color: lightblue;
}

h1 {
  color: Red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
div {
  color: Blue;
  text-align: center;
}
lists
{
  text-align: center;
}
